version: 0.0.{build}
image: Visual Studio 2017
configuration: Release
skip_commits:
  message: /.*\[ci\-skip\].*/ 
before_build:
- cmd: dotnet restore src/Vlingo.Http.sln
build:
  project: src/Vlingo.Http.sln
  verbosity: minimal
  publish_nuget: true
test_script:
- cmd: dotnet test src/Vlingo.Http.Tests
deploy:
- provider: NuGet
  api_key:
    secure: dNUu+MUxXAbLgGfLRutZ/dA/gHPPFunr6OG8MMxLWieUVWECTaZt1UXjSaeoD26H
  skip_symbols: true
  artifact: /.*\.nupkg/
  on:
    branch: master
notifications:

  - provider: Webhook
    url: https://webhooks.gitter.im/e/2b56d1ca84637acb9ee8
    method: GET